.btn {
    margin: .5rem;
    padding: .5rem;
}

.house{
    border: solid 1px rgb(57, 28, 126);
    width: 300px;
    padding: 5px;
    text-align: center;
}

.blockedColor {
    border: 1.5px solid indianred;
}

.unBlockedColor {
    border: 1.5px solid rgb(67, 107, 26);
}