<h1>LUN</h1>
<div>
  <img src="https://vn.com.ua/Media/images/complex/big/77187624a8a37c0a83b102a0f8ee8f52.jpg" alt="">
</div>

<input type="text" (input)="onInput($event)">
<button (click) = "searchClick()">Search</button>
<br>
<br>

<h3>{{changeValue}}</h3>
<br>

<button (click)="register()" class="btn">Sign up</button>
<button (click)="login()" class="btn">Login</button>
<button (click)="addHouse()" class="btn">Add house</button>
<br>
<br>

<form *ngIf="statusReg" (ngSubmit)="singInForm()" #registrationForm="ngForm">
  <h4>Registration</h4>
    <input 
      [ngClass]="!nameInput.valid && nameInput.touched ? 'blockedColor' : 'unBlockedColor'"
      type="text" name="name" placeholder="name" 
      [(ngModel)]="registeredUser.name"
      #nameInput="ngModel"
      required>
    <br>
    <input 
      [ngClass]="!passInput.valid && passInput.touched ? 'blockedColor' : 'unBlockedColor'"
      type="text" name ="password" placeholder="password" 
      [(ngModel)]="registeredUser.password"
      #passInput="ngModel"
      required
      minlength="5">
    <br>
    <input 
      [ngClass]="!emailInput.valid && emailInput.touched ? 'blockedColor' : 'unBlockedColor'"
      type="email" name="email" placeholder="email" 
      [(ngModel)]="registeredUser.email"
      #emailInput="ngModel"
      email
      required>
    <br>
    <input 
      type="text" name="city" placeholder="city" 
      [(ngModel)]="registeredUser.city">
    <br>
    <input [disabled]="!registrationForm.valid" type="submit">
</form>

<br>

<form *ngIf="statusLog" (ngSubmit)="LogInForm()" #authForm="ngForm">
  <h4>Authorization</h4>
    <input 
      [ngClass]="!emailInput.valid && emailInput.touched ? 'blockedColor' : 'unBlockedColor'"
      type="text" name="email" placeholder="email"
      [(ngModel)]="authUser.email"
      #emailInput="ngModel"
      email
      required>
    <br>
    <input 
      [ngClass]="!passInput.valid && passInput.touched ? 'blockedColor' : 'unBlockedColor'"
      type="text" name ="password" placeholder="password"
      [(ngModel)]="authUser.password"
      #passInput="ngModel"
      required
      minlength="5">
    <br>
    <input [disabled]="!authForm.valid" type="submit">
</form>
<br>

<form *ngIf="createHouse" (ngSubmit)="createHouseForm()" #addHouseForm="ngForm">
  <h4>Select your flat</h4>
    <br>
    <input 
      [ngClass]="!cityInput.valid && cityInput.touched ? 'blockedColor' : 'unBlockedColor'"
      type="text" name="city" placeholder="city"
      [(ngModel)]="createdHouse.city"
      #cityInput="ngModel"
      required>
    <br>      
    <input 
      [ngClass]="!priceInput.valid && priceInput.touched ? 'blockedColor' : 'unBlockedColor'"
      type="text" name ="price" placeholder="price"
      [(ngModel)]="createdHouse.price"
      #priceInput="ngModel"
      required>
    <br>
    <input 
      type="text" name ="street" placeholder="street"
      [(ngModel)]="createdHouse.street">
    <br>
    <input 
      type="text" name="square" placeholder="square meters"
      [(ngModel)]="createdHouse.square">
    <br>
    <input 
      type="text" name="rooms" placeholder="rooms"
      [(ngModel)]="createdHouse.rooms">
    <br>
    <input [disabled]="!addHouseForm.valid" type="submit">
</form>

<div 
  *ngFor="let house of houses" 
  class="house btn"
  [ngClass]="house.user.is_blocked ? 'blockedColor' : 'unBlockedColor'"
>
  <div>City: {{house.city}}</div>
  <br>
  <div>Price: {{house.price}}</div>
  <br>
  <div *ngIf="showFullIndex === house.id && showMore">
    <div>Street: {{house.street}}</div>
    <br>
    <div>Square meters: {{house.square}}</div>
    <br>
    <div>Rooms count: {{house.rooms}}</div>
    <br>
    <div>
      Owner: {{house.user.name}}, 
      <br> 
      email: {{house.user.email}},
      <br>
      city: {{house.user.city}}
    </div>
  </div>
  <button 
    [disabled]="house.user.is_blocked"
    (click)="showFullInfo(house.id)" 
    class="btn"
    [textContent]="showFullIndex === house.id && showMore ? 'Show less' : 'Show more'"> 
  </button>
</div>