<h1>LUN</h1>
<div>
  <img src="https://vn.com.ua/Media/images/complex/big/77187624a8a37c0a83b102a0f8ee8f52.jpg" alt="">
</div>

<input type="text" (input)="onInput($event)">
<button (click) = "searchClick()">Search</button>
<br>
<br>

<h3>{{changeValue}}</h3>
<br>

<button (click)="register()" class="btn">Sign up</button>
<button (click)="login()" class="btn">Login</button>
<br>
<br>

<div *ngIf="statusReg" >
  <form>
    <h4>Registration</h4>
      <input type="text" name="name" placeholder="name">
      <br>
      <input type="text" name ="password" placeholder="password">
      <br>
      <input type="email" name="email" placeholder="email">
      <br>
      <input type="text" name="city" placeholder="city">
      <br>
      <input type="submit">
  </form>
</div>
<br>

<div *ngIf="statusLog">
  <form>
    <h4>Authorization</h4>
      <input type="text" name="email" placeholder="email">
      <br>
      <input type="text" name ="password" placeholder="password">
      <br>
      <input type="submit">
  </form>
</div>
<br>
<br>

<div *ngFor="let house of houses" class="house btn">
  <div>City: {{house.city}}</div>
  <br>
  <div>Street: {{house.street}}</div>
  <br>
  <div>Square meters: {{house.square}}</div>
  <br>
  <div>Price: {{house.price}}</div>
</div>
